
h1{
    
    color: white;
}
h4{
    color: #e5e4e2;
}
.bar{
    padding-right: 0;
    padding-left: 0;
}
.nb{
    background-color: #200F21;
}
.nav-item{
    font-size: 1.3rem;
    text-align: center;
}

.navbar-brand{
    font-size: 1.7rem;
}

#header{
    padding-top:100px;
    padding-bottom: 40px;
    background-color: #200F21;
}
li{
    margin-right: 3rem;
}

.navbar-toggler { margin: 0 auto;  ;
}


  .menu_active{
      font-weight: bold;
      border-bottom:1px solid #E8E8E8;
  }

.navbar{
    padding-top:1rem;
    padding-bottom:1rem;
}
.btn{
    background-color: whitesmoke;
}
.btn:hover{
    background-color:#E8E8E8;
}


.reg{
 min-width: 25rem;
 min-height: 3rem;
 padding-top: 15px;
 padding-bottom:15px;
 font-size: x-large ;
 color:white;
 background-color: #986D8E;
 border-radius: 10px;

}

.collapsed{
    margin-right: -4rem;
   
}

.lot{
    

    /* margin-top: 3rem;
    width:60%;
    border-radius: 0 50% 20% 20%;
    margin-bottom:3rem; */
    margin-top: 6rem;
    width: 60%;
    height:70%;
    border-radius: 0 50% 20% 20%;
    
    margin-bottom:3rem;
}

footer{
    background-color:	#E4D8DC;
}

.copy{

 width:80%;
 margin:0 auto;

}
.footlinks{
    text-decoration: none;
    color:#41337A;
}

#features,#gstarted{
    
    padding:7% 15%;
    background-color: #E4D8DC;
    position:relative;
    
}

#gstarted{
    background-color: #200F21;
    text-align: center;
}


#gstarted h4{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

#gstarted p{
    font-size: 1.2rem;
    margin-left:1rem;
    text-align: center;
    color:white;
    font-weight: lighter;
}

.feature-title{
    font-weight:normal;
    font-size:2rem ;

}  

.addtn-feat{
    margin-top: 10%;
    text-align: center;
    
}

.addtn-feat h4{
    text-align: center;
    color: black;
    font-size: 1.5rem;
}


.addtn-feat p{
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: lighter;
}


.feature-box{
    padding: 4.5%;
    text-align: left;
}

.gstarted-box{
    padding-top: 4.5%;

    text-align: center;
}

.feature-text{
    text-align: center;
   
}

.feature-text h2{
    font-size: 2.5rem;
    line-height: 1.5;
}

.feature-text h4{
    
    line-height: 1.5;
    color:black;

}

.frustrated{
    background-color: #EFB7B7;
    width: 110%;
    padding:0 1.5rem 0 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.happy{
    background-color:#96BAFF;
    /* width: 100%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 1rem; */

    width: 110%;
    padding:0 1.3rem 0 1.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
   
}

.points .content {
    margin-left:10px;
    margin-top:13px;

   
}

.points .content h6{
    font-size: 1.2rem;
    color:black;
    font-weight: lighter;
}

 .info h6{
    margin-left:25px;
}

.coin-rate{
    margin-left:2rem;
}

.arrow{
  margin-top:-0.8rem;

}

.year{
    margin-left:3.7rem;
}

.year h6{
    font-weight: normal;
}